body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  background-color: #f2f5f9;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}
.App {
  display: flex;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
}

.Heading {
  width: 90vw;
  margin: auto;
  font-family: "Pacifico", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Heading span {
  color: #ff9c1a;
}

.Dark-mode {
  cursor: pointer;
}
.user-image {
  /* transform: translateY(-100px); */
  height: 248px;
  border-radius: 50%;
}
.Info {
  margin-left: 5vw;
  width: 20vw;
  display: grid;
  gap: 1rem;
  text-align: center;
  grid-template-columns: 1fr;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  justify-content: center;
  padding: 2rem 0;
}

.Social-media {
  display: grid;
  /* width: 20vw; */
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.Links {
  background-color: #f2f7fc;
  /* background-color: black; */
  width: 25px;
  padding: 5px;
}
.Social-Links {
  text-decoration: none;
  color: black;
}

.Personal-Info {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  margin: 0px;
  padding: 0px;
}
.Personal-Info img {
  height: 50px;
  width: 50px;
}

.line {
  height: 2px;
  width: 100vw;
  background-color: black;
}

.btn {
  font-size: 0.8em;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  border: none;
  background: none;
  color: inherit;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  letter-spacing: 0.1rem;
}
.Personal-details {
  width: 80%;
  background-color: #f2f5f9;
  padding: 5px;
  border-radius: 10px;
  margin: auto;
}

/* About-Mr */
.About-Me {
  width: 60vw;
  height: 75vh;
  margin: auto;
  border: 2px solid black;
}

.What-I-Do {
  display: grid;
  padding: 10px 30px;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.About-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 30px;
}

/* Navbar */
.Navbar {
  height: fit-content;
  width: 60vw;
  list-style: none;
  margin: auto;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-bottom: 10px;
}
.navbar-link {
  background-color: #ff9c1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.Profession {
  display: grid;
  font-size: medium;
  text-align: left;
  grid-template-rows: 1fr auto;
}
@media (max-width: 1200px) {
  .Info {
    width: 30vw;
    margin-left: 3vw;
  }
  .App {
    width: 95vw;
    justify-content: space-between;
  }
}

@media (max-width: 790px) {
  .Info {
    justify-content: center;
    margin: auto;
    width: 50vw;
  }
  .App {
    grid-template-columns: auto;
    justify-content: center;
  }
  .Navbar {
    justify-content: center;
  }
}

@media (max-width: 530px) {
  .Info {
    width: 85vw;
    justify-content: center;
    margin: auto;
  }

  .About-Me {
    width: 85vw;
    height: fit-content;
    padding: 0px 2vw;
  }
}
