@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  background-color: #f2f5f9;
  transition: background-color 0.3s linear;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: black;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.About-info h1,
.About-info h3 {
  font-size: 2.5rem;
}
.App {
  margin-top: 5vh;
  display: flex;
  width: 100vw;

  display: grid;
  grid-template-columns: auto auto;
}

.Heading {
  width: 90vw;
  margin: auto;
  font-family: "Pacifico", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Heading span {
  color: #ff9c1a;
}

.Dark-mode {
  cursor: pointer;
}
.user-image {
  /* transform: translateY(-100px); */
  height: 248px;
  border-radius: 50%;
}
.Info {
  margin-left: 5vw;
  height: auto;
  width: 20vw;
  display: grid;
  gap: 1rem;
  text-align: center;
  grid-template-columns: 1fr;
  background-color: white;
  border-radius: 20px;
  /* border: 2px solid black; */
  justify-content: center;
  padding: 2rem 0;
}

.Social-media {
  width: 80%;
  margin: auto;
  display: grid;
  height: fit-content;
  /* width: 20vw; */
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.Links {
  background-color: #f2f7fc;
  /* background-color: black; */
  /* width: 25px; */
  padding: 5px;
}
.Social-Links {
  text-decoration: none;
  color: black;
}

.Personal-Info {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  margin: 0px;
  padding: 0px;
}
.Personal-Info img {
  height: 50px;
  width: 50px;
}

.line {
  height: 2px;
  width: 100vw;
  background-color: black;
}

.btn {
  font-size: 0.8em;
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  border: none;
  background: none;
  color: inherit;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  letter-spacing: 0.1rem;
}
.btn:hover {
  box-shadow: inset 0 -4px 0 rgba(255, 132, 0, 0.6);
}
.Personal-details {
  width: 80%;
  background-color: #f2f5f9;
  padding: 15px;
  border-radius: 10px;
  margin: auto;
}

/* About-Mr */
.About-Me {
  width: 60vw;
  height: fit-content;
  margin: auto;
  /* border: 2px solid black; */
  background-color: white;
}

.What-I-Do {
  display: grid;
  justify-content: center;
  padding: 10px 30px;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.About-info {
  display: grid;
  grid-template-rows: auto auto 1fr;
  align-items: start;

  padding: 10px 30px;
}
.p-0 {
  padding: 0px;
}
/* Navbar */

.your-element {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.your-element.active {
  background-color: #ff9c1a; /* Change to your desired active state background color */
  color: #fff; /* Change to your desired active state text color */
}
.Navbar {
  height: fit-content;
  width: 60vw;
  list-style: none;
  margin: auto;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-bottom: 10px;
}
.navbar-link {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

.Profession {
  max-width: 300px;
  display: grid;
  min-height: 100px;
  font-size: medium;
  text-align: left;
  text-align: left;
  grid-template-rows: auto auto;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #ffebd1;
}
.Profession h3,
.title h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
.title {
  padding: 10px 30px;
}

/* REsume */
.Resume-work {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
}
.contact-form {
  /* margin-bottom: 1rem; */
  display: grid;
  grid-template-columns: 100px auto;
  gap: 1rem;
  /* display: flex; */
}
.section {
  padding: 10px 30px;
}
.input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
}
input:focus {
  box-shadow: 0 0 5px rgba(255, 123, 0, 0.5);
}
.experience {
  display: grid;
  align-items: center;
}
.title {
  display: flex;
  align-items: center;
}

.skills {
  display: grid;
  grid-template-columns: auto auto;
}
.skills-item {
  margin-right: 10px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  background-color: aliceblue;
}
.work-skills {
  font-size: small;
}
.work_skills {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.Fotter {
  /* position: fixed; */
  bottom: 0;
  width: 100vw;
  margin-top: 20px;
  background-color: #ff9c1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .Info {
    width: 30vw;
    margin-left: 3vw;
  }
  .App {
    justify-content: space-between;
  }
  .user-image {
    height: 40vh;
  }
}

/* @media (max-width: 1130px) {
  .What-I-Do {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
} */
@media (max-width: 790px) {
  .Info {
    justify-content: center;
    margin: auto;
    width: 50vw;
  }
  .App {
    grid-template-columns: auto;
    justify-content: center;
  }
  .Navbar {
    justify-content: center;
  }
  .About-Me {
    width: 95vw;
    /* border: 2px solid red; */
  }
  .Resume-work {
    grid-template-columns: auto auto;
  }
  .Profession {
    /* width: 200px; */
  }
  .work_skills {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 530px) {
  .Info {
    width: 85vw;
    justify-content: center;
    margin: auto;
  }

  .About-Me {
    width: 90vw;
    height: fit-content;
    padding: 0px 2vw;
  }
  .What-I-Do {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-template-columns: auto a; */
  }
  .Profession {
    /* width: 200px; */
  }
  .Resume-work {
    grid-template-columns: auto;
  }
  .skills {
    display: grid;
    grid-template-columns: auto;
  }
  .work_skills {
    grid-template-columns: auto auto;
  }
}
